{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center">Remove an Employee</h2>
    <hr>
    <form action="/filter-emp/" method="post">  <!-- Note the trailing slash -->
        {% csrf_token %}
        
        <div class="form-group">
          <label for="department">Department</label>
          <input type="text " class="form-control" id="dept" name="dept" placeholder="Enter department" value="{{ department }}">
        </div>
        <br>
        
        
        <div class="form-group">
            <label for="role">Role</label>
            <input type="text" class="form-control" id="role" name="role" placeholder="Enter role" value="{{ role }}">
        </div>
        <br>
        
        <div class="container text-center">
            <button type="submit" class="btn btn-primary text-center">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
