{%extends 'base.html'%}

{%block content%}

<div class="container text-center">
    <h1>Office Employee Management System</h1>
    <hr>
    <a class="btn btn-primary" href="/all-emp" role="button">View All Employees</a>
    <a class="btn btn-primary" href="/add-emp" role="button">Add Employees</a>
    <a class="btn btn-primary" href="/remove-emp" role="button">Remove Employees</a>
    <a class="btn btn-primary" href="/filter-emp" role="button">Filter Employees</a>
</div>
{%endblock%}